body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }
.site-header {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav-links li a {
    text-decoration: none;
    color: #4e4b66;
    font-size: 16px;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
  }
  .nav-links li a:hover,
  .nav-links li a.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  }
  .contact-button {
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  .contact-button:hover {
    background-color: var(--primary);
    color: #fff;
  }
  .burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    background-color: var(--primary);
    padding: 12px;
    border-radius: 8px;
  }
  .burger .line {
    width: 25px;
    height: 2px;
    background-color: #fff;
  }
  .title {
    font-size: var(--header-font-size);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--header-color);
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
  }
  .description {
    font-size: var(--body-font-size);
    line-height: 1.5em;
    max-width: 40.625rem;
    margin: 0 0 1rem 0;
    color: var(--body-text-color);
  }
  
  .button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    color: var(--body-text-color-white);
    display: inline-block;
    transition: color 0.3s, background-color 0.3s;
  }
  .button-solid:hover {
    background-color: #000;
    color: #fff;
  }
  